body{
    background: rgb(224, 218, 218);
}
input{
    display: block;
    margin: auto;
    margin-top: 20px;
    float: left;
    width: 290px;
    height: 25px;
    border: none;
}
span{
    display: block;
    margin: auto;
    color: rgb(212, 207, 207);
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
  position: relative;
  bottom: -150px;
    text-align: center;
}
p{
    color: red;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    border-left: 4px solid red;
    padding-left: 30px;
    
}
button{
    text-transform: uppercase;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: block;
    border: 3px solid rgb(212, 207, 207);
    background-color:white;
    width:  200px;
    height: 50px;
    margin-top: 20px;
    color: rgb(212, 207, 207);
    margin: auto;
    bottom: -100px;
    position: relative;
}
form{
    margin-top: 40px;
    display: block;
    background: white;
    border: 3px solid rgb(192, 189, 189);
    padding: 30px;
    width: 300px;
    height:450px;
    margin: auto;
}
.line{
    display: block;
    width:320px;
    margin: auto;
    border: 0;
    height: 7px;
    background-color: white;
}
