@font-face {
    font-family: AdobeGothicStd-Bold; /* Имя шрифта */
    src: url(fonts/AdobeGothicStd-Bold.otf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family:calibri;
    src: url(fonts/calibrii.ttf);
}
body{
    margin: 0;
    padding: 0;
    background-color:#3f444e;
}
header{
    width: 1195px;
    margin:206px auto 0 auto;
}
nav{
    background-color: #fff;
    height: 76px;
    display: flex;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.logo{
    font-size:19px;
    font-family: AdobeGothicStd-Bold;
    color:#3f444e;
    text-transform: uppercase;
    display:flex;
    margin-left:30px;
}
.nav{
    margin:auto;
}
.nav>ul{
    list-style-type: none;
    display:flex;
    align-items: baseline;
    padding: 0;
}
.nav>ul>li{
    margin-right: 47px;
}
.nav>ul>li:last-child{
    margin-right:0;
}
.user>ul{
    list-style-type: none;
    display:flex;
    align-items: center;
    padding: 0;
    margin-right: 30px;
}
.user>ul:last-child{
    align-items: flex-end;
}
.icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 12px;
    background-image: url('img/topPanel/Layer\ 1.jpg');
    background-size: 150%;
    background-position:top center; 
    position:relative;
}
.icon>img{
    position: absolute;
    right:-4px;
}
.user-name{
    font-size:15px;
    font-family: AdobeGothicStd-Bold;
    color:#3f444e;
    margin-right: 18px;
}
.banner{
    height: 500px;
    background-image: url('img/header/bannerr.png'); 
    background-size: 100%;
    position: relative;
    display: flex;
    align-items: flex-end;
}
.banner>button{
    text-transform: uppercase;
    font-family: AdobeGothicStd-Bold;
    color:#fff;
    height: 38px;
    width: 118px;
    background-color: #d8232a;
    border:none;
    border-radius: 5px;
    position: absolute;
    right:189px;
    top:289px;
    cursor:pointer;
}
.rating{
    height: 50px;
    width: 1195px;
    display: flex;
    align-items: center;
    background-color: rgba(7,7,7,0.3);
}
.rating>ul{
    display:flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.rating>ul>li{
    text-transform: uppercase;
    font-family: AdobeGothicStd-Bold;
    color:#fff;
    font-size: 14px;
    margin-right:30px;
}
.rating>.first{
    margin-left: 33px;
}
.rating>ul>li>span{
    color:#d8232a;
    margin-left:5px;
}
.stars{
    position: relative;
    top:-1px;
    margin-left:10px;
}
.last{
    color:#fff;
}
.rating>ul>li>span>.fa{
    margin:0 2px;
}
.rating>.second{
    margin-left: auto;
}
.second .fa{
color:#d8232a;
margin-right:12px;
}
/* .sircle{ 
    position: absolute;
    top:200px;
    left:33px;
}
.sir{
    height: 10px;
    width: 10px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
}
.sircle>.name{
    text-transform: uppercase;
    font-family: AdobeGothicStd-Bold;
    color:#fff;
    font-size: 14px;
    position: absolute;
    left:40px;
    top:5px;
    width: 100px;
}
.sir1{
top:-20px;
left:10px;
}
.sir2{
    top:40px; 
    left:10px; 
}
.sir3{
    top:60px;
    left:10px;
} */
.sircle{
    position: absolute;
    top:150px;
    margin-left:15px
}
.sircle>ul{
    padding:0;
    margin:0;
}
.sircle>ul>li.none{
    height: 30px;
    width: 30px;
    background-image:url("img/header/Layer 23.png");
    background-size: 100% 100%;
    border-radius: 50%;
    position: relative;
    left:-8px;
}
.sircle>ul>li{
    height: 10px;
    width: 10px;
    background-color: #fff;
    border-radius: 50%;
    margin:20px;
    list-style-type: none;
}

main{
    width: 1195px;
    background-color: #edeff0;
    margin:auto;
}
.info{
    height: 85px;
    display:flex;
    align-items: center;
}
.fea{
    text-transform: uppercase;
    font-family: AdobeGothicStd-Bold;
    color:#51555d;
    font-size: 17px;
    margin-left: 33px;
}
.real{
    list-style-type: none;
    display:flex;
    font-family: calibri;
    color:#989ca4;
    font-size: 18px;
    padding: 0;
    margin:auto;
}
.real>li:first-child{
    color:#3f444e;
}
.search{
    margin-right: 37px;
    position: relative;
}
input[type="search"] {
    border: none; /* Убираем рамку */
    outline: none; /* Убираем свечение в Chrome и Safari */
    vertical-align: middle; /* Выравнивание по середине */
    width: 162px; /* Ширина поля */
    min-height: 25px;
    background-color: #edeff0;
    border-bottom: solid 1px #989ca4;
    font-family: calibri;
    color:#989ca4;
    font-size: 14px;
}
input[type="submit"] {
    width: 20px; /* Ширина кнопки */
    height: 20px; /* Высота кнопки */
    border: none; /* Убираем рамку */
    background: url(img/search.png) no-repeat 50% 50%;
    cursor:pointer;
    position: absolute;
    top:2px;
    right:0;
    z-index: 100;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; }
.content{
    margin: 0 33px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(188px, auto);
    grid-gap: 24px;
    grid-template-areas: 
    "d1 d2 d3 d4 d5"
    "d6 d2 d7 d7 d8"
    "d9 d9 d10 d11 d8"
}
.content>div{
    border-radius: 5px;
    /* border: solid 1px black; */
}
.content img{
    width: 100%;
}
.d1{
    grid-area: d1;
     background-image: url(img/Content/img-9.png);
    background-size: 100% 100%; 
    
}
.d2{
    grid-area: d2;
     background-image: url(img/Content/img-3.png);
    background-size: 100% 100%; 
}
.d3{
    grid-area: d3;
    background-image: url(img/Content/img-7.png);
    background-size: 100% 100%; 
}
.d4{
    grid-area: d4;
    background-image: url(img/Content/img-6.png);
    background-size: 100% 100%; 
}
.d5{
    grid-area: d5;
    background-image: url(img/Content/img-5.png);
    background-size: 100% 100%; 
}
.d6{
    grid-area: d6;
    background-image: url(img/Content/img-8.png);
    background-size: 100% 100%; 
}
.d7{
    grid-area: d7;
    background-image: url(img/Content/img-2.png);
    background-size: 100% 100%; 
}
.d8{
    grid-area: d8;
    background-image: url(img/Content/img.png);
    background-size: 100% 100%; 
}
.d9{
    grid-area: d9;
    background-image: url(img/Content/img-1.png);
    background-size: 100% 100%; 
}
.d10{
    grid-area: d10;
    background-image: url(img/Content/action.png);
    background-size: 100% 100%; 
}
.d11{
    grid-area: d11;
    background-image: url(img/Content/img-6.png);
    background-size: 100% 100%; 
}
