
body{
    font-family: 'PT Sans', sans-serif;
    margin:0;
}
p{
    margin: 0;
}
.content{
    width: 950px;
    margin:auto;
    text-align: center
}
.goldcoach{
    text-align: center;
}
.goldcoach img{    
    position: relative;
    left:-30px;
}
.goldcoach p{
    color:#18374b;
    margin:0;
    font-size: 27px;
    border-bottom: 1px solid black;
    padding-bottom:30px;
}
.block1{
    text-align: center;
}
.block1 p{
    font-size: 34px;
    font-stretch: ultra-expanded;
    margin: 60px 0 50px;
    color: #ff621f;

}
.block1 span{
    font-size: 30px;
}
.btn1{
    color:white;
    padding: 22px 38px;
    font-size: 30px;
    background-color: #ff621f;
    border:none;
    border-bottom: #ff332a solid 5px;
    margin: 30px 0;
}
.content2{
    width: 1000px;
    margin:auto;
}
.left{
    float:left;
    width: 500px;
    background-color: #ff621f
}
.right{
    float: right;
    background-color: #eaeaea;
}

.cale-left{
    width: 120px;
    margin: 34px;
    display: inline-block;
}
.month{
    background-color: #2b2e35;
    color:#ffff;
    height: 28px;
    font-size: 22px;
    text-align: center;
}
.cale-day{
    background-color: #fff;
    color:#c2c2c2;
    height: 92px;
    font-size: 73px;
    text-align: center;
}
.cale-right{
    display: inline-block;
    color:#fff;
    width: 290px;
    text-transform: uppercase;
    position: relative;
    top:18px;
}
.day{
    font-size: 30px;
}
.date{
    font-size: 35px;
    border-bottom: dashed #ffdcd4 2px;
    padding-bottom:10px;
}
.time{
    font-size: 20px;
    margin-top: 10px;
}
.spiker{
    height: 200px;
    width: 200px;
    overflow: hidden;
    position: relative;
    border-radius:50%;
    border:5px #fff solid;
    margin:30px auto;
}
.spiker img{
    height: 250px;
    width: 300px;
    position: absolute;
    left:-50px;
}
.spiker-con{
    color:#fff;
    text-align: center;
    font-size: 22px;
}
.spiker-con span{
    font-style: italic;
    margin-bottom: 15px;
    display: block;
}
