<<<<<<< HEAD
=======

>>>>>>> 7362a312a92a15e8d0208f371fb6ab779d412f16
/* NAV */

nav{
    text-align: center;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    display: inline-block;
}
nav ul li:after{
    content:url(../gallery/img/on.png);
}
nav ul li:last-child:after{
    content:none;
}
nav ul li a{
    text-decoration: none;
    font-size: 1.5em;
}


/* ARROWS */

.right {
    background-image: url(../Gallery/img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    width: 128px;
    height: 128px;
    background-position: -281px -5px;
}

.right:hover {
    width: 128px;
    height: 128px;
    background-position: -419px -5px;

}
.left {
    background-image: url(../Gallery/img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    width: 128px;
    height: 128px;
    background-position: -5px -5px;
}

.left:hover {
    width: 128px;
    height: 128px;
    background-position: -143px -5px;
}
