.right{
    background-image: url(../Gallery/img/right.png);
    width: 128px;
    height: 128px;
    margin-top:400px;
    float:right;
}
.right:hover{
    background-image: url(../Gallery/img/right_h.png);
    width: 128px;
    height: 128px;
}
.left{
    background-image: url(../Gallery/img/left.png);
    width: 128px;
    height: 128px;
    margin-top:400px;
    float:left;
}
.left:hover{
    background-image: url(../Gallery/img/left_h.png);
    width: 128px;
    height: 128px;
}