.shadow{
    text-align: center;
    font-size: 50px;
    text-shadow: -5px 5px 0 green, 5px -5px 0 rgb(238, 20, 20),0 0 5px black;
}
.box{
    width:100px;
    height: 100px;
    background-color: rgb(226, 153, 43);
    overflow: auto;
}
.box::-webkit-scrollbar{
    width: 5px;
}
.box::-webkit-scrollbar-track{
    background-color: blueviolet;
}
.box::-webkit-scrollbar-thumb{
    background-color: rgb(226, 43, 98);
}
.right {
    background-image: url(../Gallery/img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    width: 128px;
    height: 128px;
    background-position: -281px -5px;
}

.right:hover {
    width: 128px;
    height: 128px;
    background-position: -419px -5px;

}
.left {
    background-image: url(../Gallery/img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    width: 128px;
    height: 128px;
    background-position: -5px -5px;
}

.left:hover {
    width: 128px;
    height: 128px;
    background-position: -143px -5px;
}


.team-avaj{
    background-color: aqua;
}
.team-bugs{
    background-color: rgb(226, 195, 19);
}
.team-dragneel{
    background-color: green;
}
table{
    border-collapse: collapse;
}
table td,table th{
    border: solid 1px black;
}