/* body{
    cursor: url('../image/paper.cur'), auto;
} */

.shadow{
    text-align: center;
    font-size: 50px;
    text-shadow: -5px 5px 0 green, 5px -5px 0 rgb(238, 20, 20),0 0 5px black;
}


/* scrollbar */
.box{
    width:100px;
    height: 100px;
    background-color: rgb(226, 153, 43);
    overflow: auto;
}
.box::-webkit-scrollbar{
    width: 5px;
}
.box::-webkit-scrollbar-track{
    background-color: blueviolet;
}
.box::-webkit-scrollbar-thumb{
    background-color: rgb(226, 43, 98);
}
/* END scrollbar */

/* table */
.team-avaj{
    background-color: aqua;
}
.team-bugs{
    background-color: rgb(226, 195, 19);
}
.team-dragneel{
    background-color: green;
}
table{
    border-collapse: collapse;
}
table td,table th{
    border: solid 1px black;
}
/* END table */

/* .block1{
    height: 100px;
    width: 100px;
    background-color: red;
    position: absolute;
    top:0;
    left:0;
}
.block2{
    height: 100px;
    width: 100px;
    background-color: green;
    position: absolute;
    top:25px;
    left:25px;
}
.block3{
    height: 100px;
    width: 100px;
    background-color: yellow;
    position: absolute;
    top:50px;
    left:50px;
} */

/* FORM */
.formm{
    display:flex;
    justify-content: center;
}
.formm input[type="submit"],input[type="reset"]{
    color:red;
    border-color: red;
    margin-top:10px;
}
.formm span{
    display:inline-block;
    width: 100px;
}
.formm .button{
    display: flex;
    flex-direction: column;
}
.formm #user{
    width:204px
}
.formm #pass{
    width:204px
}
 .formm>fieldset{
    border-color: blueviolet;
    border-radius:15px;
    background-color: rgb(233, 211, 253);
}
/*END FORM */

/* SUPER FORM */
.order{
    display: inline-block;
    width: 150px; ;
}
.gen .position-center{
    position: relative;
    top:-12px;
}
.fam .position-center{
    position: relative;
    top:-20px;
}
.act .position-center{
    position: relative;
    top:-20px;
}

.formmm {
    border:solid black 1px; 
    padding: 30px;
    width: 410px;
    margin:100px auto;
    border-radius: 20px;
    background-color: rgb(245, 164, 58);
    box-shadow: 10px 10px 50px red;
}

.formmm input[type="checkbox"]{
    opacity:0;
    position: absolute;
}
.formmm label{
    display: inline-block;
}
.gen .container_f input ~ .custom-mark{
    background-image: url(../image/icon/checkbox.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 48px;
    height: 48px;
    background-position: -5px -5px;
}
.gen .container_f input:checked ~ .custom-mark{
    background-image: url(../image/icon/checkbox.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 48px;
    height: 48px;
    background-position: -63px -5px;
}
.gen .container_m input ~ .custom-mark{
    background-image: url(../image/icon/checkbox.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 48px;
    height: 48px;
    background-position: -121px -5px;
}
.gen .container_m input:checked ~ .custom-mark{
    background-image: url(../image/icon/checkbox.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 48px;
    height: 48px;
    background-position: -179px -5px;
}

.fam .container_fam input ~ .custom-mark{
    background-image: url(../image/icon/checkbox1.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 48px;
    height: 48px;
    background-position: -63px -5px;
}

.fam .container_fam input:checked ~ .custom-mark{
        background-image: url(../image/icon/checkbox1.png);
        background-repeat: no-repeat;
        display: inline-block;
        width: 48px;
        height: 48px;
        background-position: -5px -5px;
}

.act .container_fam input ~ .custom-mark{
    background-image: url(../image/icon/checkbox2.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-position: -5px -5px;
}
.act .container_fam input:checked ~ .custom-mark{
    background-image: url(../image/icon/checkbox2.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-position: -63px -5px;
}
/* END SUPER FORM */