.block-1{
    display: block;
    width: 200px;
    height: 200px;
    background-color: red;
    position: absolute;

    top: 200px;
    left: 200px;
}

.block-2{
    display: block;
    width: 200px;
    height: 200px;
    background-color: green;
    position: absolute;

    top: 300px;
    left: 300px;
}

.block-3{
    display: block;
    width: 200px;
    height: 200px;
    background-color: blue;
    position: absolute;

    top: 400px;
    left: 400px;
}