body{
    background-color: #f5f5f5;

    margin: 100px 0 0 0;
}

h1, .transition p, .first-style p{
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    font-size: 30px;
}

.first-style p{
    background: black; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
    border-radius: 50px 50px 50px 50px;

    width: 20%;
    margin-left: 38%;
}

.first-style p:hover{
    background-color: red;
}


/*менюшка сверху*/
h1{
    background: rgba(0,0,0,0.4); /* Цвет фона + прозрачность*/
    padding: 10px; /* Поля вокруг текста */
    margin-top: 0;

    /*держит оглавление зафиксированным*/
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.transition{
    margin-left: 25%;
}

.transition li{
    margin-right: 5%;
    width: 300px;
    display: inline-block;
}

.transition p{
    background: black; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */

    border-radius: 50px 50px 50px 50px;
}

.transition p:hover{
    background-color: red;
}

/*информация про продукт*/
.info li{
    margin-top: 60px;
    display: table;
    padding: 10px; /* Поля вокруг текста */
}

.info img{
    float: left;
}

.info li p {
    text-align: justify;
    width: 660px;
    margin-left: 500px;
    margin-top: 30px;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

a{
    text-decoration: none;
}

/*стили для second и first*/
.first-style ul, .second-style ul{
    list-style-type: none;
}

.second-style img{
    margin-left: 10%;
}

/*Переходы на соседние странички*/
.left{
    display: inline-block;

    width: 322px; height: 322px;
    background: url(img/css_sprites.png) -352px -10px;

    background-size: 100px;
    margin-left: 28%;
}

.right{
    display: inline-block;
    width: 322px; height: 322px;
    background: url(img/css_sprites.png) -10px -352px;
    background-size: 100px;
}

.left:hover{
    width: 322px; height: 322px;
    background: url(img/css_sprites.png) -10px -10px;

}

.right:hover{
    width: 322px; height: 322px;
    background: url(img/css_sprites.png) -352px -352px;
}
