body{
    background-color: lightslategray;
}

h1{
    border: 4px double black;
    background: whitesmoke; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
    margin-left: 40%;
    margin-right: 40%;
    font-family: Arial, sans-serif;
    color: black;
    text-align: center;
    font-size: 30px;
}

.first-style p, .second-style p{
    font-family: Arial, sans-serif;
    color: black;
    text-align: center;
    font-size: 30px;

    border: 4px double black;
    background: whitesmoke; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
}

.trans{
    margin-left: 35%;
}

.trans li{
    margin-right: 5%;
    display: inline-block;
}

a{
    text-decoration: none;
}

.first-style ul, .second-style ul{
    list-style-type: none;
}

.second-style img{
    margin-left: 10%;
}

.second-style a {
    font-size: 30px;
}

.left{
    display: inline-block;
    background-image: url(img/left.png);
    width: 100px;
    height: 100px;
    background-size: 100px;
    margin-left: 30%;
}

.right{
    display: inline-block;
    background-image: url(img/right.png);
    width: 100px;
    height: 100px;
    background-size: 100px;
}

.left:hover{
    background-image: url(img/left_circle.png);
}

.right:hover{
    background-image: url(img/right_circle.png);
}
