body{
    background-color: #f0f2f3;
    font-family: sans-serif;
}

.title{
    text-transform: uppercase;
    text-align: center;
    font-family: comic sans ms;
    font-size: 40px;
}

.line{
    width: 365px;
    height: 7px;
    border:#b2b5b6 solid 1px;
    border-bottom: none;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin:auto;
}
form{
    border:#b2b5b6 solid 1px;
    padding:15px 40px 25px;
    background-color: #fff;
    width: 300px;
    margin: auto;
    position: relative;
    border-radius:5px;
}

.reg{
    background-image: url("../image/pen.png");
    background-size: 100px;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 25px;
    right: -50px;
}

input , a{
    display: block;
}
.info{
    display:none;
}
input{
    padding-bottom:10px;
    font-size: 20px;
    border:none;
    border-bottom: #b2b5b6 solid 2px;
    outline:none;
    margin-bottom: 50px;
    width: 300px;
}
input::placeholder{
    color:#b2b5b6;
}
.log{
    font-size: 40px;
    text-transform: uppercase;
    color:#E52B50;
    font-weight: bold;
    border-left: #E52B50 5px solid;
    padding-left: 35px;
    position: relative;
    left:-43px;
    margin-bottom: 50px;
}
.button{
    display: block;
    padding: 12px 20px;
    width: 165px;
    font-size: 20px;
    font-weight: bold;
    color:#dbdddd;
    background-color: #fff;
    border: #dbdddd solid 1px;
    margin:0 auto 40px auto;
    cursor:pointer;
}
.button:hover{
    border: #E52B50 solid 1px;
    color:#E52B50;
    transition: 0.5s;
}
a{
    color:#dbdddd;
    text-decoration: none;
    text-align: center;
    padding-bottom: 15px
}
a:hover{
    color: #E52B50;
    transition: 0.5s;
}
input:focus{
    border-bottom:#E52B50 solid 2px;
    transition: 0.5s;
}
input:focus::placeholder{
    color:#fff;
}
input[type="text"]:focus + .info{
    display:block;
    position: absolute;
    top:115px;
    color:#b2b5b6;
}
input[type="password"]:focus + .info{
    display:block;
    position: absolute;
    top:200px;
    color:#b2b5b6;
}
