body{
    margin: 0;
    /*background-image: url(../../image/2560x1600_px_Clear_Sky_lake_landscape_Low_Poly_minimalism_mountains_reflection-821999.jpg);*/
    background: url(../../image/attachment.png) no-repeat;
    background-size: 100%;

}

ul{
    margin-top: 40px;
    display: inline-block;
}

a{
    letter-spacing: 3px;
}

li{
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    padding-left: 40px;
    color: #B5BDD0;
}

.nav li .img{
    background-image: url(../image/target.png);
    width: 32px;
    height: 32px;
}

.nav a, .reg a, .button a{
    font-family: sans-serif;
    text-decoration: none;
}

.nav a:visited, .nav a:active{
    color: #B5BDD0;
}

.nav a:hover{
    color: #566895;
}

.reg a:visited, .reg a:active{
    color: #6A7BA3;
}

.reg{
    position: relative;
    right: -30%;
}

.reg a{
    padding: 5px;
}

.reg a:hover{
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom right, #3E79FF 0%, #86C5FF 100%);
    border-image-slice: 1;
    padding: 3px;
}

.text{
    margin-left: 70px;
    margin-top: 100px;
}

.text span{
    font-weight:bold;
    color: #475A8B;
}

.text h1{
    font-weight: lighter;
    line-height: 1.5;
    font-family: sans-serif;
    color: #506291;
}

.text p{
    font-family: sans-serif;
    line-height: 2;
    color: #8495B4;
}

.button a:visited, .button a:active{
    color: whitesmoke;
}

.button{
    margin-left: 70px;
    margin-top: 30px;
}

.button a{
    background: linear-gradient(to right, #3B75FF, #63B4FF);
    padding: 15px 20px 15px 20px;
    border-radius: 7px;
}
