body{
    background:green;
    margin:0;
}
.con{
background-color: brown;
height: 500px;
display:flex;
justify-content: center;


}
.fir{
    height: 10px;
    background-color: green;
    flex-grow: 1;
}
.sec{
    height: 10px;
    background-color:yellowgreen;
    flex-grow: 1;
}